@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp');
body {
  margin: 0
}
.appCont{
  font-family: Fira Sans;
  background: fixed;
  background: linear-gradient(135deg, #0a130d, #002f3b);
  color:white;
  min-height: 100vh;
  padding-bottom:1rem;
  padding-top: 0.1rem;
}
.homeBtn{
  text-decoration:none;
  background: linear-gradient(135deg, #00c490, #00d076);
  box-shadow: 2px 3px 2px rgba(0,0,0,0.4);
  font-weight: 600;
  padding: 0.5rem 0.7rem;
  border-radius: 0.6rem;
  color: white;
  text-shadow:2px 3px 2px rgba(0,0,0,0.4) ;
  max-height: 50px;
  max-width: 50px;
  position: absolute;
  left: 0;
  top: 0;
}
.homeBtn:hover{
  transform:scale(1.05);
  transition:transform 0.4s ease;
}
.heading{
  font-size: 2rem;
  padding-top:0.9rem;
  padding-bottom: 4rem;
  text-align: center;
}
.titleIcon{
  font-size: 2.4rem;
  padding-top:0.9rem;
  padding-bottom: 4rem;
  color: #00d076;
  font-weight: 900;
  font-family: Fira Sans;
}
.navContainer{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding:1rem, 1rem;
  align-items:center;
}
.navItemContainer{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav{
  text-decoration:none;
  background: linear-gradient(135deg, #00c490, #00d076);
  background-size: 125%;
  background-position: right;
  box-shadow: 2px 3px 2px rgba(0,0,0,0.4);
  padding: 0.5rem 0.7rem;
  font-weight: 550;
  border-radius: 0.6rem;
  color: white;
  text-align: center;
  font-family: JetBrains Mono;
  min-width: 100%;
}
.nav:hover{
  transform:scale(1.05);
  background-position: left;
  background-size: 100%;
  transition:transform 0.4s ease-in-out,background-position 0.4s ease-in-out,background-size,0.4s ease-in-out;
}
.heroTextSec{
  font-size: 0.9rem;
  line-height: 1.3;
  text-align: center;
  margin-bottom:3rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-bottom:1rem;
  padding-top:1rem;
  padding-left:1rem;
  padding-right:1rem;
}
.heroTextSec1 ,.heroTextSec2{
  font-size: 0.9rem;
  line-height: 1.3;
  text-align: center;
}
.link{
  text-decoration:none;
  background: linear-gradient(135deg,#2365f5 ,#4195f5 );;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  padding: 0.5rem 0.7rem;
  font-weight: 550;
  border-radius: 0.6rem;
  color: white;
  width: 20%;
  font-family: JetBrains Mono;
}
.linkCont{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top: 5rem;
  height:100%;
  width:100%;
}
.grad{
  color: #00d076;
  font-family: JetBrains Mono;
}
.SecGrid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  column-gap:0.7rem;
  margin-left:3rem;
  margin-right:3rem;
  padding-bottom: 4rem;
  margin-top: 1rem;
  max-width: 100%;
}
.heroImage1{
  max-width: 100%;
}
.SecFlex{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  gap:0.5rem;
  padding-left:3rem;
  padding-right: 3rem;
  margin-top: 1rem;
  padding-bottom: 4rem;
  align-items:center;
  max-width:100%;
}
.heroImage2{
  max-width:100%;
}
.header{
  font-size: 1.45rem;
  padding-bottom: 2rem;
}
.headerFlex {
  display: flex;
  justify-content: center;
  position: relative;
  align-items:flex-start;
}
